@media screen and (max-width: 540px) {
    body {
        width: 100%;
    }
    nav {
        display: none;
    }
    .about_me {
        height: fit-content;
    }
    .aboutme_container {
        padding: 0 8px;
        height: fit-content;
        display: block;
    }
    .personal_pic {
        display: none;
    }
    .about_moody {
        padding-top: 10px;
        font-size: 30px;
    }
    .about_content {
        font-size: 15px;
        width: 100%;
        padding-bottom: 20px;
    }
    .skills_bigcontainer {
        width: 100%;
    }
    .about_container {
        width: 100%;
    }
    .mycontact {
        display: block;
    }
    .googlemap {
        width: 100%;
    }
    .textarea_class {
        width: 90%;
    }
    .contacticon_container {
        width: 100%;
    }
    .contact_div {
        height: fit-content;
    }
    .myservices_div {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 5px;
    }
    .webdesign {
        width: 150px;
    }
    .services_div {
        height: fit-content;
    }
    .service_header {
        padding: 5px 0;
    }
    #service_content {
        font-size: 12px;
    }
    .contact_title {
        font-size: 15px;
    }
    .contacticon_container {
        font-size: 10px;
    }
    .names {
        font-size: 12px;
    }
    #resp {
        font-size: 8px;
    }
    .maps {
        text-align: center;
        padding-bottom: 5px;
    }
    iframe {
        width: 300px;
        height: 200px;
    }
    footer {
        background: rgba(0, 0, 0, 0.95);
        position: relative;
        padding: 10px 0;
        color: #fff;
        font-size: 8px;
    }
    .h4twitter_content {
        font-size: 8px;
    }
    .head {
        font-size: 9px;
    }
    #ixcons {
        text-align: center;
        font-size: 20px;
    }
    #ixcons_twit {
        text-align: center;
        font-size: 20px;
    }
    #ixcons_phone {
        text-align: center;
        font-size: 20px;
    }
    #ixcons_mail {
        text-align: center;
        font-size: 20px;
    }
    .button_container {
        padding-bottom: 10px
    }
    .service_header {
        font-size: 20px;
    }
    #icons {
        font-size: 20px;
    }
    .webdesign_icon {
        width: 40px;
        height: 40px;
    }
    #service_title {
        font-size: 10px;
    }
}